 @themeColor: #fe060c;


.goods-container {
  .goods-app-download {
    width: 100%;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  // 标题行
  .goods-item {
    font-size: 14px;
    
    .goods-title {
      display: flex;
      padding-top: 30px;
      .goos-cate {
        font-size: 22px;
        width: 120px;
        display: flex;

      }
      .hot-words {
        flex: 1;
        display: flex;
        align-items: flex-end;
        li {
          padding-right: 30px;
        }
      }
      .more-goods {
        display: flex;
        align-items: flex-end;
        width: 60px;
      }
    }
    // 图片行
    .goods-img {
      padding-top: 20px;
      display: flex;
      height: 540px;
      overflow: hidden;
      text-align: center;
      .goods-l {
        width: 330px;
        position: relative;
        img {
          width: 100%;
        }
        .goods-l-cat {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 30px;
          height: 100px;
          display: flex;
          flex-wrap: wrap;
          margin-left: 32px;
          
          li {
            width: 80px;
            height: 40px;
            border: 1px solid #ccc;
            border-radius: 42px;
            margin-right: 10px;
            line-height: 40px;
          }
        }
      }
      .goods-c {
        width: 550px;
        display: flex;
        flex-wrap: wrap;
        .goods-c-i {
          width: 50%;
        }
      }
      .goods-r {
        width: 220px;
        h3 {
          height: 60px;
          line-height: 60px;
          position: relative;
          ul {
            display: flex;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(0, -50%);
            li {
              width: 6px;
              height: 6px;
              border-radius: 50%;
              background-color: #666;
              margin-right: 4px;
            }
          }
        }
        .current-hot {
          font-size: 12px;
          display: flex;
          flex-direction: column;
          height: 480px;
          li {
            flex: 1;
            display: flex;
            align-items: center;
            img {
              width: 75px;
              height: 75px;
              

            }
            div {
              flex: 1;
              .goods-desc {
                // vertical-align: middle;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                
              }
              .old-price {
                color: #ccc;
                text-decoration: line-through;
              }
              .new-price {
                color: @themeColor;
                font-size: 20px;
                margin-right: 10px;
              }
            }
          } 
        }

      }
    }

  }
}